/* Scss Document */
/* base-styles */
body {
  font-family: 'Nunito Sans', futura, helvetica, arial, sans-serif;
  font-weight: 300;
  background: #FCFCFC; }

figcaption {
  font-family: 'Nunito Sans', futura, helvetica, arial, sans-serif;
  font-weight: 200; }

/* generelle styles */
.topnav {
  z-index: 999;
  top: 0;
  position: fixed;
  height: 50px;
  background: #3C3C3C;
  opacity: 0.93;
  max-width: 1940px;
  margin: 0 auto; }

.logo img {
  width: 210px;
  padding-left: 20px;
  padding-top: 8px; }

.logo-mobile {
  display: none; }

.nav-desktop {
  height: 50px; }

.nav-desktop ul {
  display: inline-flex; }

.nav-desktop li {
  list-style: none;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 60px; }

.nav-desktop a {
  text-decoration: none;
  color: white;
  font-size: 1.1em; }

.nav-desktop a:hover {
  color: #FF4A4D;
  transition: 0.4s; }

.nav-desktop li .selected {
  color: white;
  border-bottom: 1px solid #FF4A4D; }

.nav-desktop li .selected:hover {
  color: #FF4A4D;
  transition: 0.4s; }

.nav-desktop {
  padding-top: 15px; }

.nav-mobile {
  display: none; }

.mobile {
  display: none; }

.countdown {
  padding-left: 7px;
  text-align: left;
  font-size: 17px;
  font-family: 'Nunito Sans', futura, helvetica, arial, sans-serif;
  word-spacing: 3px;
  color: white;
  height: 50px;
  padding-top: 10px; }

#countdown {
  color: white; }

.countdown p {
  text-align: left;
  font-size: 1em; }

.countdown h2 {
  font-size: 0.885em;
  text-align: left;
  padding-left: 1px; }

.countdown2 p {
  font-size: 2.2em;
  font-weight: 200;
  text-align: center;
  margin-top: 20px;
  color: white; }

.video {
  margin-top: 0px; }

h1 {
  font-size: 3.5em;
  font-weight: 200; }

h2 {
  font-size: 2em;
  font-weight: 200; }

/* index.html */
.box1 {
  height: 600px;
  color: black;
  background: #FF4A4D;
  margin-top: 50px;
  padding-top: 30px;
  margin-bottom: 0px; }

.box1 h1, h2 {
  text-align: center; }

.box1 h1 {
  font-size: 2em; }

.box1 p {
  font-size: 1.5em;
  font-weight: 200;
  text-align: left; }

section {
  max-width: 450px;
  margin: 50px auto; }

section div {
  max-width: 255px;
  word-wrap: break-word;
  margin-bottom: 20px;
  line-height: 24px; }

.clear {
  clear: both; }

.from-them {
  position: relative;
  padding: 10px 20px;
  background: #E5E5EA;
  border-radius: 25px;
  color: black;
  float: left; }

.from-them:before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: -7px;
  height: 20px;
  border-left: 20px solid #E5E5EA;
  border-bottom-right-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
  transform: translate(0, -2px); }

.from-them:after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -2px;
  left: 4px;
  width: 26px;
  height: 20px;
  background: #FF4A4D;
  border-bottom-right-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
  transform: translate(-30px, -2px); }

.message1 {
  -webkit-animation-name: message1;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s;
  /* Safari 4.0 - 8.0 */
  animation-name: message1;
  animation-duration: 2s;
  animation-delay: 0s; }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes message1 {
  0% {
    opacity: 0; }
  98% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* Standard syntax */
@keyframes message1 {
  0% {
    opacity: 0; }
  98% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.message2 a {
  color: blue; }

.message2 {
  -webkit-animation-name: message2;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 6s;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s;
  /* Safari 4.0 - 8.0 */
  animation-name: message2;
  animation-duration: 5.5s;
  animation-delay: 0s; }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes message2 {
  0% {
    opacity: 0; }
  70% {
    opacity: 0; }
  71% {
    opacity: 1; } }
/* Standard syntax */
@keyframes message2 {
  0% {
    opacity: 0; }
  98% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.position-only {
  height: 100vh;
  width: 100vw;
  opacity: 0;
  margin-top: 150px;
  margin-left: 530px;
  position: relative;
  -webkit-animation-name: bubble;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 7s;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s;
  /* Safari 4.0 - 8.0 */
  animation-name: bubble;
  animation-duration: 7s;
  animation-delay: 0s; }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bubble {
  0% {
    opacity: 1; }
  49% {
    opacity: 1; }
  50% {
    opacity: 1; }
  55% {
    opacity: 1;
    top: 100px; }
  60% {
    opacity: 1; }
  61% {
    opacity: 0; } }
/* Standard syntax */
@keyframes bubble {
  0% {
    opacity: 1;
    top: -260px; }
  22% {
    opacity: 1;
    top: -260px; }
  23% {
    opacity: 0;
    top: -260px; }
  35% {
    opacity: 0;
    top: -260px; }
  36% {
    opacity: 0;
    top: -120px; }
  37% {
    opacity: 1;
    top: -120px; }
  60% {
    opacity: 1;
    top: -120px; }
  75% {
    opacity: 1;
    top: -120px; }
  76% {
    opacity: 0;
    top: -120px; } }
.typing-bubble {
  transform: translate(-50%, -50%);
  background-color: #E5E5EA;
  height: 2em;
  width: 4em;
  border-radius: 1em; }

.typing-bubble:before, .typing-bubble:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: -1px;
  background-color: #E5E5EA;
  height: .75em;
  width: .75em;
  border-radius: 50%; }

.typing-bubble:after {
  bottom: -4px;
  left: -4px;
  height: .35em;
  width: .35em; }

.typing-bubble .dot-wpr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center; }

.typing-bubble .dot {
  display: inline-block;
  background-color: #77919A;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  animation: ball-beat 1.1s 0s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95); }

.typing-bubble .dot:nth-child(2) {
  animation-delay: 0.3s; }

.typing-bubble .dot:nth-child(3) {
  animation-delay: 0.6s; }

@keyframes ball-beat {
  0% {
    opacity: 0.7; }
  33.33% {
    opacity: 0.55; }
  66.67% {
    opacity: 0.4; }
  100% {
    opacity: 1; } }
.message-box1 {
  margin-top: 50px;
  height: 140px;
  text-align: center;
  border: solid #3c3c3c 0px;
  background: #FF4A4D;
  border-radius: 50px 50px 50px 2px;
  display: inline-block;
  margin-left: 25%; }

.message-box1 h1 {
  padding: 30px;
  margin-top: 20px;
  color: white; }

.message-box2 {
  margin-top: 100px;
  height: 130px;
  text-align: center;
  border: solid #3c3c3c 0px;
  background: #FF4A4D;
  border-radius: 50px 50px 50px 2px;
  display: inline-block;
  margin-left: 25%;
  transition: 0.2s; }

.message-box2:hover {
  transform: scale(1.2); }

.message-box2 h1 {
  padding: 30px;
  margin-top: 20px;
  color: white; }

.message-box2 h2 {
  padding: 30px;
  color: white; }

.box2 {
  height: 280px;
  margin-top: 0px;
  background: #3c3c3c;
  color: white; }

.box2 h1 {
  font-size: 2em;
  text-align: center;
  padding-top: 20px; }

.box2 h2 {
  text-align: center;
  padding-top: 20px; }

/* --- STEMMEGUIDE.HTML --- */
.box1-din-kommune {
  height: 655px;
  text-align: center; }

.box1-din-kommune h2 {
  margin-top: 65px;
  margin-bottom: 10px; }

.kommune-kategori {
  color: black;
  font-size: 1.3em;
  padding-right: 15px;
  padding-left: 15px;
  transition: 0.2s; }

.kommune-kategori:hover {
  color: #FF4A4D; }

.kategori-selected {
  font-weight: 600; }

/* --- DANMARK KORT --- */
/* BILLEDETS STORRELSE */
.map_image {
  margin-top: 100px;
  max-width: 500px;
  margin-left: 34%; }

.map_image svg {
  width: 105%; }

.map_image-din-kommune {
  margin-top: 50px;
  max-width: 500px;
  margin-left: 34%; }

.map_image-din-kommune svg {
  width: 100%;
  height: 350px; }

/* STYLE GRUPPERNES UDSEENDE HERUNDER */
/* HOVER PA GRUPPERNE HERUNDER */
.map_image g:hover {
  -webkit-fill: #3C3C3C;
  -moz-fill: #3C3C3C;
  -o-fill: #3C3C3C;
  fill: #3C3C3C;
  /* Farve nar man hover */
  -webkit-stroke: #3C3C3C;
  -moz-stroke: #3C3C3C;
  -o-stroke: #3C3C3C;
  stroke: #3C3C3C;
  /* Farve pa streger nar man hover */
  -webkit-transition: fill 0.3s;
  -moz-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  transition: fill 0.3s; }

.map_image .fyn-selected {
  -webkit-fill: #3C3C3C;
  -moz-fill: #3C3C3C;
  -o-fill: #3C3C3C;
  fill: #3C3C3C;
  /* Farve nar man hover */
  -webkit-stroke: #3C3C3C;
  -moz-stroke: #3C3C3C;
  -o-stroke: #3C3C3C;
  stroke: #3C3C3C;
  /* Farve pa streger nar man hover */ }

.map_image .sjaelland-selected {
  -webkit-fill: #3C3C3C;
  -moz-fill: #3C3C3C;
  -o-fill: #3C3C3C;
  fill: #3C3C3C;
  /* Farve nar man hover */
  -webkit-stroke: #3C3C3C;
  -moz-stroke: #3C3C3C;
  -o-stroke: #3C3C3C;
  stroke: #3C3C3C;
  /* Farve pa streger nar man hover */ }

.map_image .jylland-selected {
  -webkit-fill: #3C3C3C;
  -moz-fill: #3C3C3C;
  -o-fill: #3C3C3C;
  fill: #3C3C3C;
  /* Farve nar man hover */
  -webkit-stroke: #3C3C3C;
  -moz-stroke: #3C3C3C;
  -o-stroke: #3C3C3C;
  stroke: #3C3C3C;
  /* Farve pa streger nar man hover */ }

.map_image g {
  -webkit-fill: white;
  -moz-fill: white;
  -o-fill: white;
  fill: white;
  /* Grundfarve til grupper */
  -webkit-stroke: black;
  -moz-stroke: black;
  -o-stroke: black;
  stroke: black;
  /* Farve til gruppernes streger */
  -webkit-transition: fill 0.3s;
  -moz-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  transition: fill 0.3s; }

/* --- JYLLAND.HTML --- */
.box1-jylland {
  background: white;
  text-align: center;
  margin-bottom: 20px; }

.box2-jylland {
  text-align: left;
  height: 800px;
  background: #FF4A4D;
  margin-bottom: 0px; }

.box2-jylland h1 {
  text-align: center;
  color: white;
  padding-top: 60px;
  margin-left: 0%;
  margin-bottom: 10px; }

.box2-jylland h2 {
  text-align: left;
  color: white;
  font-weight: 400;
  line-height: 1.4;
  margin-left: 40%; }

.box2-jylland h3 {
  color: white;
  font-size: 1.5em;
  font-weight: 200;
  text-align: center;
  margin-bottom: 30px; }

.box2-jylland p {
  color: white;
  line-height: 1.6;
  transition: 0.2s;
  margin-left: 40%; }

.box2-jylland p:hover {
  color: black; }

/* --- FYN.HTML --- */
.box1-fyn {
  background: white;
  text-align: center;
  margin-bottom: 20px; }

.box2-fyn {
  text-align: left;
  height: 605px;
  background: #FF4A4D;
  margin-bottom: 0px; }

.box2-fyn h1 {
  text-align: center;
  color: white;
  padding-top: 60px;
  margin-left: 0%;
  margin-bottom: 10px; }

.box2-fyn h2 {
  text-align: left;
  color: white;
  font-weight: 400;
  line-height: 1.4;
  margin-left: 40%; }

.box2-fyn h3 {
  color: white;
  font-size: 1.5em;
  font-weight: 200;
  text-align: center;
  margin-bottom: 30px; }

.box2-fyn p {
  color: white;
  line-height: 1.6;
  transition: 0.2s;
  margin-left: 40%; }

.box2-fyn p:hover {
  color: black; }

/* --- SJAELLAND.HTML --- */
.box1-sjaelland {
  background: white;
  text-align: center;
  margin-bottom: 20px; }

.box2-sjaelland {
  text-align: left;
  height: auto;
  background: #FF4A4D;
  margin-bottom: 0px; }

.box2-sjaelland h1 {
  text-align: center;
  color: white;
  padding-top: 60px;
  margin-left: 0%;
  margin-bottom: 10px; }

.box2-sjaelland h2 {
  text-align: left;
  color: white;
  font-weight: 400;
  line-height: 1.4;
  margin-left: 40%; }

.box2-sjaelland h3 {
  color: white;
  font-size: 1.5em;
  font-weight: 200;
  text-align: center;
  margin-bottom: 30px; }

.box2-sjaelland p {
  color: white;
  line-height: 1.6;
  transition: 0.2s;
  margin-left: 40%; }

.box2-sjaelland p:hover {
  color: black; }

/* --- tilbage knap --- */
.tilbage-box {
  text-align: left; }

.tilbage {
  width: 80px;
  margin-top: 130px;
  margin-left: 5%;
  transition: 0.2s; }

.tilbage:hover {
  transform: scale(1.1); }

/* --- aarhus + odense + kobenhavn.HTML --- */
.box1-aarhus, .box1-odense, .box1-kobenhavn {
  margin-top: -50px;
  height: 420px;
  text-align: center; }

.box1-aarhus h1, .box1-odense h1, .box1-kobenhavn h1 {
  margin-top: -50px;
  margin-bottom: 20px; }

.odense, .kobenhavn {
  width: 200px; }

.aarhus {
  width: 140px; }

.aarhus-skyline-box {
  text-align: center; }

.aarhus-skyline {
  margin-bottom: -5px;
  width: 30%;
  opacity: 1; }

.odense-skyline-box {
  text-align: center; }

.odense-skyline {
  margin-bottom: -5px;
  width: 30%;
  opacity: 1; }

.kobenhavn-skyline-box {
  text-align: center; }

.kobenhavn-skyline {
  margin-bottom: -5px;
  width: 40%;
  opacity: 1; }

.box2-aarhus, .box2-odense, .box2-kobenhavn {
  height: auto;
  padding-bottom: 60px;
  text-align: center;
  background: #FF4A4D; }

.box2-aarhus img, .box2-odense img, .box2-kobenhavn img {
  width: 250px;
  border-radius: 200px;
  margin-top: 50px;
  transition: 0.2s; }

.box2-aarhus h2, .box2-odense h2, .box2-kobenhavn h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white; }

.box2-aarhus h4, .box2-odense h4, .box2-kobenhavn h4 {
  margin-top: 5px;
  color: white;
  font-size: 1.2em; }

.box2-aarhus h5, .box2-odense h5, .box2-kobenhavn h5 {
  margin-top: 5px;
  color: white;
  font-size: 1.1em;
  font-weight: 200;
  margin-bottom: 5px; }

.box2-aarhus h6, .box2-odense h6, .box2-kobenhavn h6 {
  margin-top: 5px;
  color: white;
  font-size: 1.2em;
  font-weight: 200;
  margin-bottom: 5px; }

.box2-aarhus p, .box2-odense p, .box2-kobenhavn p {
  line-height: 1.2;
  color: white;
  text-align: left;
  width: 300px;
  margin-left: 20%;
  margin-bottom: 5px; }

.box2-aarhus li, .box2-odense li, .box2-kobenhavn li {
  line-height: 1.2;
  color: white;
  text-align: left;
  width: 330px;
  margin-left: 20%;
  margin-bottom: 10px; }

/* --- Kandidat video player - Inspiration: https://codepen.io/anon/pen/jmpqXb --- */
.video-link {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px; }

.player {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 0%, black 100%);
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 0%, black 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 0%, black 100%);
  background: radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 0%, black 100%);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }

.player__video {
  position: relative;
  top: 50%;
  left: 50%;
  width: auto;
  max-width: 75%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.95);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.js--show-video {
  opacity: 1; }

.video-filler {
  display: block;
  width: 100%; }

.video-close {
  position: absolute;
  z-index: 0;
  top: 0;
  right: -55px;
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 0 50% 50% 0;
  cursor: pointer;
  font-size: 40px;
  color: #ff4a4d;
  background-color: #3c3c3c;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75); }

.video-iframe {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 10px solid #3c3c3c;
  border-radius: 5px; }

/* --- Kandidat play knap - Inspiration: https://www.w3schools.com/howto/howto_css_image_overlay.asp --- */
.play-button-container {
  position: relative;
  width: 100%; }

.play-button-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden; }

.play-button-middle {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -mz-transform: translate(-50%, -50%); }

.play-button-container:hover .play-button-image {
  opacity: 0.2; }

.play-button-container:hover .play-button-middle {
  opacity: 1;
  top: 50%;
  left: 50%;
  font-size: 2em; }

.play-button-text {
  color: white;
  font-size: 3em;
  padding: 16px 32px;
  opacity: 0.8; }

/* --- filtrering - inspiration: https://www.w3schools.com/howto/howto_js_countdown.asp --- */
.filter-buttons {
  font-family: 'nunito sans', helvetica, arial, sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  padding: .5rem 1rem;
  margin: 0.5rem;
  height: auto;
  border: 1px solid white;
  border-radius: 30px;
  vertical-align: middle;
  -webkit-appearance: none;
  color: white;
  background-color: transparent;
  transition: 0.2s; }

.filter-buttons:hover {
  text-decoration: none;
  color: black; }

.filter-buttons:focus {
  outline: none;
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3); }

.filter-box {
  padding-top: 15px; }

.active {
  color: black;
  border: solid black 1px;
  text-decoration: none;
  transform: scale(1.05); }

.hr-filter {
  margin-top: 15px;
  outline: none;
  border-top: none;
  border-bottom: solid 1px white; }

/* --- kandidat box --- */
.box {
  height: 560px;
  margin-bottom: 20px;
  padding-bottom: 50px; }

/* Tablet - stylesheet */
@media screen and (min-width: 768px) and (max-width: 999px) {
  .col-4-12 {
    width: 33.3%; }

  .topnav {
    z-index: 999;
    top: 0;
    position: fixed;
    height: 50px; }

  .nav-desktop li {
    list-style: none;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 20px; }

  .countdown {
    text-align: left;
    font-size: 13px;
    font-family: 'Nunito Sans', futura, helvetica, arial, sans-serif;
    word-spacing: 2px;
    height: 50px;
    padding-top: 13px; }

  /* --- tilbage knap --- */
  .tilbage-box {
    text-align: center; }

  .tilbage {
    width: 50px;
    margin-top: 60px;
    margin-left: 0px; }

  /* --- aarhus + odense + kobenhavn.HTML --- */
  .box1-aarhus, .box1-odense, .box1-kobenhavn {
    margin-top: 0px;
    height: 380px;
    text-align: center; }

  .box1-aarhus h1, .box1-odense h1, .box1-kobenhavn h1 {
    margin-top: 20px;
    margin-bottom: 20px; }

  .aarhus, .odense, .kobenhavn {
    width: 120px; }

  .box2-aarhus, .box2-odense, .box2-kobenhavn {
    height: auto;
    text-align: center;
    background: #FF4A4D; }

  .box2-aarhus img, .box2-odense img, .box2-kobenhavn img {
    width: 200px;
    margin-top: 50px; }

  .box2-aarhus h4, .box2-odense h4, .box2-kobenhavn h4 {
    margin-top: 5px;
    color: white;
    font-size: 1.2em; }

  .box2-aarhus h5, .box2-odense h5, .box2-kobenhavn h5 {
    margin-top: 5px;
    color: white;
    font-size: 1.1em;
    margin-bottom: 20px; }

  .box2-aarhus h6, .box2-odense h6, .box2-kobenhavn h6 {
    margin-top: 5px;
    color: white;
    font-size: 1.1em;
    margin-bottom: 20px; }

  .box2-aarhus p, .box2-odense p, .box2-kobenhavn p {
    line-height: 1.2;
    color: white;
    text-align: left;
    width: 230px;
    margin-left: 10%; }

  .box2-aarhus li, .box2-odense li, .box2-kobenhavn li {
    line-height: 1.2;
    color: white;
    text-align: left;
    width: 220px;
    margin-left: 10%; } }
/* Vertikal Smartphone - stylesheet */
@media handheld, only screen and (max-width: 767px) {
  h1 {
    font-size: 2.5em;
    font-weight: 200; }

  h2 {
    font-size: 1em;
    font-weight: 200; }

  /* Generelle styles */
  .topnav {
    display: none; }

  .mobile-header {
    text-align: center;
    background: #3C3C3C;
    height: 50px;
    padding-top: 0px;
    opacity: 0.95; }

  .mobile {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50; }

  .mobile div {
    display: none; }

  .mobile a {
    display: block; }

  .mobile a {
    text-decoration: none;
    color: white;
    font-weight: 200;
    background: #3C3C3C;
    text-align: center;
    padding: 15px;
    border-bottom: solid #ddd 1px;
    opacity: 0.96; }

  nav .selected {
    color: #FF4A4D; }

  .mobile button {
    z-index: 50;
    position: absolute;
    top: 7px;
    right: 15px;
    width: 35px;
    height: 35px;
    background: url(img/hamburger-btn.svg) center no-repeat;
    border: 0px solid black;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.6s ease; }

  .mobile button.expanded {
    transform: rotate(90deg); }

  .logo-mobile {
    padding-top: 5px;
    display: block;
    padding-right: 15px; }

  .logo-mobile img {
    width: 230px; }

  .countdown {
    display: none; }

  /* --- Forside.HTML --- */
  .video {
    margin-top: 50px; }

  .box1 {
    height: auto;
    color: white;
    background: #FF4A4D;
    padding-top: 20px; }

  .box1 h2 {
    font-size: 1.6em;
    padding-bottom: 20px; }

  .box1 p {
    font-size: 1em;
    padding-bottom: 100px; }

  .box2 {
    height: auto; }

  .countdown2 {
    margin-bottom: 20px; }

  /* --- stemmeguide.HTML --- */
  .box1-din-kommune {
    height: auto; }

  .box1-din-kommune h2 {
    margin-top: 60px;
    font-size: 1.8em; }

  /* --- DANMARK KORT --- */
  /* BILLEDETS SToRRELSE */
  .map_image {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 50px; }

  .map_image svg {
    width: 105%; }

  /* --- JYLLAND.HTML --- */
  .box2-jylland {
    text-align: left;
    height: auto;
    margin-top: 20px; }

  .box2-jylland h1 {
    text-align: center;
    color: white;
    padding-top: 35px;
    margin-left: 0%; }

  .box2-jylland h2 {
    margin-top: 30px;
    font-size: 2.5em;
    font-weight: 400;
    color: white;
    line-height: 1.4;
    margin-left: 30%; }

  .box2-jylland p {
    font-size: 1.6em;
    color: white;
    line-height: 1.6;
    transition: 0.2s;
    margin-left: 30%;
    margin-bottom: 20px; }

  /* --- FYN.HTML --- */
  .box2-fyn {
    text-align: left;
    height: auto;
    margin-top: 20px; }

  .box2-fyn h1 {
    text-align: center;
    color: white;
    padding-top: 35px;
    margin-left: 0%; }

  .box2-fyn h2 {
    margin-top: 30px;
    font-size: 2.5em;
    font-weight: 400;
    color: white;
    line-height: 1.4;
    margin-left: 30%; }

  .box2-fyn p {
    font-size: 1.6em;
    color: white;
    line-height: 1.6;
    transition: 0.2s;
    margin-left: 30%;
    margin-bottom: 20px; }

  /* --- SJAELLAND.HTML --- */
  .box2-sjaelland {
    text-align: left;
    height: auto;
    margin-top: 20px; }

  .box2-sjaelland h1 {
    text-align: center;
    color: white;
    padding-top: 35px;
    margin-left: 0%; }

  .box2-sjaelland h2 {
    margin-top: 30px;
    font-size: 2.5em;
    font-weight: 400;
    color: white;
    line-height: 1.4;
    margin-left: 30%; }

  .box2-sjaelland p {
    font-size: 1.6em;
    color: white;
    line-height: 1.6;
    transition: 0.2s;
    margin-left: 30%;
    margin-bottom: 20px; }

  /* --- tilbage knap --- */
  .tilbage-box {
    text-align: center; }

  .tilbage {
    width: 50px;
    margin-top: 10px;
    margin-left: 0px; }

  /* --- aarhus + odense + kobenhavn.HTML --- */
  .box1-aarhus, .box1-odense, .box1-kobenhavn {
    margin-top: 0px;
    height: 380px;
    text-align: center; }

  .box1-aarhus h1, .box1-odense h1, .box1-kobenhavn h1 {
    margin-top: 20px;
    margin-bottom: 20px; }

  .aarhus, .odense, .kobenhavn {
    width: 140px; }

  .aarhus-skyline, .odense-skyline, .kobenhavn-skyline {
    margin-bottom: -5px;
    width: 400px;
    opacity: 1; }

  .box2-aarhus, .box2-odense, .box2-kobenhavn {
    height: auto;
    text-align: center;
    background: #FF4A4D; }

  .box2-aarhus img, .box2-odense img, .box2-kobenhavn img {
    width: 200px;
    margin-top: 30px; }

  .box2-aarhus h2, .box2-odense h2, .box2-kobenhavn h2 {
    font-size: 2em; }

  .box2-aarhus h4, .box2-odense h4, .box2-kobenhavn h4 {
    margin-top: 5px;
    color: white;
    font-size: 1.2em; }

  .box2-aarhus h5, .box2-odense h5, .box2-kobenhavn h5 {
    margin-top: 5px;
    color: white;
    font-size: 1.0em;
    margin-bottom: 20px; }

  .box2-aarhus p, .box2-odense p, .box2-kobenhavn p {
    line-height: 1.2;
    color: white;
    text-align: left;
    width: 280px;
    margin-left: 10%;
    margin-bottom: 50px; }

  .box2-aarhus li, .box2-odense li, .box2-kobenhavn li {
    line-height: 1.2;
    color: white;
    text-align: left;
    width: 280px;
    margin-left: 28%; } }
/* Smartphone Stylesheet */
@media screen and (max-width: 440px) {
  .logo-mobile {
    padding-top: 8px;
    display: block;
    padding-right: 15px; }

  .logo-mobile img {
    width: 200px; }

  /* --- Forside.HTML --- */
  .video {
    margin-top: 50px; }

  .box1 {
    height: auto;
    color: white;
    background: #FF4A4D;
    padding-top: 20px; }

  .box1 h2 {
    padding-bottom: 20px; }

  .box1 p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1em;
    padding-bottom: 100px; }

  .box2 {
    height: auto; }

  .countdown2 {
    font-size: 0.7em;
    margin-bottom: 20px; }

  /* --- stemmeguide.HTML --- */
  /* --- DANMARK KORT --- */
  /* BILLEDETS SToRRELSE */
  .map_image {
    margin-top: 100px;
    max-width: 500px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 80px; }

  .map_image svg {
    width: 105%; }

  .map_image-din-kommune {
    margin-top: 50px;
    max-width: 500px;
    margin-left: 34%; }

  .map_image-din-kommune svg {
    width: 100%;
    height: 350px; }

  /* --- JYLLAND+FYN+SJAELLAND --- */
  .box2-jylland h1, .box2-fyn h1, .box2-sjaelland h1 {
    font-size: 2.2em; }

  .box2-jylland h2, .box2-fyn h2, .box2-sjaelland h2 {
    margin-top: 30px;
    font-size: 1.8em; }

  .box2-jylland h3, .box2-fyn h3, .box2-sjaelland h3 {
    font-size: 1em;
    margin-bottom: 0px; }

  .box2-jylland p, .box2-fyn p, .box2-sjaelland p {
    font-size: 1.3em;
    margin-bottom: 5px; }

  /* --- aarhus + odense + kobenhavn.HTML --- */
  .box1-aarhus, .box1-odense, .box1-kobenhavn {
    margin-top: 0px;
    height: 340px;
    text-align: center; }

  .box1-aarhus h1, .box1-odense h1, .box1-kobenhavn h1 {
    font-size: 1.8em; }

  .aarhus {
    width: 120px; }

  .aarhus-skyline, .odense-skyline, .kobenhavn-skyline {
    margin-bottom: -5px;
    width: 90%;
    opacity: 1; }

  .box2-aarhus, .box2-odense, .box2-kobenhavn {
    height: auto;
    text-align: center;
    background: #FF4A4D; }

  .box2-aarhus img, .box2-odense img, .box2-kobenhavn img {
    width: 200px;
    margin-top: 30px; }

  .box2-aarhus h2, .box2-odense h2, .box2-kobenhavn h2 {
    font-size: 2em; }

  .box2-aarhus h4, .box2-odense h4, .box2-kobenhavn h4 {
    margin-top: 5px;
    color: white;
    font-size: 1.2em; }

  .box2-aarhus h5, .box2-odense h5, .box2-kobenhavn h5 {
    margin-top: 5px;
    color: white;
    font-size: 1.0em;
    margin-bottom: 20px; }

  .box2-aarhus p, .box2-odense p, .box2-kobenhavn p {
    line-height: 1.2;
    color: white;
    text-align: left;
    width: 280px;
    margin-left: 10%;
    margin-bottom: 50px; }

  .box2-aarhus li, .box2-odense li, .box2-kobenhavn li {
    line-height: 1.2;
    color: white;
    text-align: left;
    width: 280px;
    margin-left: 13%;
    margin-right: 15px; }

  /* --- filtrering - inspiration: https://www.w3schools.com/howto/howto_js_countdown.asp --- */
  .filter-buttons {
    font-size: 0.8rem; }

  .active {
    color: black;
    border: solid black 1px;
    text-decoration: none;
    transform: scale(1.05); } }
/* Fade In Effect - Inspiration from: http://codepen.io/bluehaus/pen/EfGyi */
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s; }

/* Footer med Sociale medier - Inspiration: https://codepen.io/Deadlymuffin/pen/hGiqo/ */
footer {
  background: #3C3C3C;
  height: 120px;
  margin-bottom: 0px;
  max-width: 1940px;
  /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
  margin: 0 auto; }

a {
  text-decoration: none;
  color: #fff; }

p > a:hover {
  color: #d9d9d9;
  text-decoration: underline; }

._12 {
  font-size: 1.2em; }

._14 {
  padding-top: 20px;
  font-size: 1.4em;
  text-align: center;
  color: white;
  font-weight: 200; }

ul {
  padding: 0;
  list-style: none; }

.footer-social-icons {
  width: auto;
  display: block;
  margin: 0 auto;
  text-align: center; }

.social-icon {
  color: #fff; }

ul.social-icons {
  margin-top: 10px;
  margin-bottom: 20px; }

.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px; }

.social-icons a {
  color: #fff;
  text-decoration: none; }

.fa-facebook {
  padding: 10px 14px;
  font-size: 1.8em;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30; }

.fa-facebook:hover {
  background-color: #3d5b99; }

.fa-instagram {
  padding: 10px 12px;
  font-size: 1.8em;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30; }

.fa-instagram:hover {
  background-color: #E0396D; }

.fa-youtube {
  padding: 10px 14px;
  font-size: 1.8em;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30; }

.fa-youtube:hover {
  background-color: #e64a41; }

.fa-envelope-o {
  padding: 10px 14px;
  font-size: 1.8em;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30; }

.fa-envelope-o:hover {
  background-color: #3B77D3; }

.fa-twitter {
  padding: 10px 14px;
  font-size: 1.8em;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30; }

.fa-twitter:hover {
  background-color: #1DA1F2; }

.fa-globe {
  padding: 10px 14px;
  font-size: 1.8em;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30; }

.fa-globe:hover {
  background-color: #4485FF; }

.fa-snapchat {
  padding: 10px 14px;
  font-size: 1.8em;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30; }

.fa-snapchat:hover {
  background-color: #FFFC00; }

.social-links-facebook {
  padding: 10px 13px;
  font-size: 1.0em;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30;
  border-radius: 100px; }

.social-links-facebook:hover {
  transform: rotate(360deg); }

.social-links {
  padding: 10px 11px;
  font-size: 1.0em;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30;
  border-radius: 100px;
  margin-bottom: 10px; }

.social-links:hover {
  transform: rotate(360deg); }
